{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Registro{% endblock %}
{% block script %}
       <script type="text/javascript" src="{% static 'eventos/js/registro.js' %}"></script>
{% endblock script %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Registro</h2>
        </div>

        <form id="formulario_registro" class="form-group" method="post" action="{% url 'eventos:adicionar_usuario' %}">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Registrar"class="btn btn-primary" id="btn_registro">
            <a href="{% url 'eventos:index' %}" class="btn btn-primary">Cancel</a>

        </form>

    </div>

</div>
{% endblock %}
